services:
  db:
    image: postgres:17.4
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: emojis
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 2345:5432

  app:
    build: .
    depends_on:
      - db
    ports:
        - 8080:8080
    environment:
        SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/emojis
        SPRING_DATASOURCE_USERNAME: admin
        SPRING_DATASOURCE_PASSWORD: admin
        SPRING_JPA_HIBERNATE_DDL_AUTO: update
        SPRING_JPA_SHOW_SQL: "true"
        SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.PostgreSQLDialect
volumes:
  pgdata: